{{> head }}

{{> navbar }}

<div class="container">
    <div class="row align-items-center">
        <div class="col">
            <h1 class="text-center">About Me</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur ut beatae provident eum. Commodi ea asperiores labore quidem, consequatur consectetur illum aut doloribus error modi nihil maxime, eveniet, quae vel!</p>
        </div>
        <div class="col">
            <img src="/assets/img/wallhaven.jpg" alt="Imagen" class="img-thumbnail">
        </div>
    </div>
</div>

{{> footer }}