{{> head }}

{{> navbar }}

<main class="container">
    <div class="bg-light p-5 rounded mt-3">
        <h1>Hello {{ name }}</h1>
        <p class="lead">This example is a quick exercise to illustrate how the bottom navbar works.</p>
        <a class="btn btn-lg btn-primary" href="/docs/5.0/components/navbar/" role="button">View navbar docs »</a>
    </div>
</main>

{{> footer }}